<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
   
<div class="container">

    <!-- Popular movie -->
    <div class="row">
        <h3> Popular Movies</h3>
        <ul>
            {{popular}}
        </ul>
    </div>
    <!-- Upcoming movie  -->
    <div class="row">

        <h3> Upcoming Movies </h3>
        <ul>
            {{upcoming}}
        </ul>
    </div>

    <!-- Now showing movie -->
    <div class="row">

        <h3>Now Showing</h3>
        <ul>
            {{now_showing}}
        </ul>
    </div>

</div>

</body>
</html>